* {
  box-sizing: border-box;
}

body {
}

#history {
  border: 1px solid #ccc;
  padding: 3px;
  width: 500px;
  height: 250px;
  display: block;
}

#prompt {
  border: 1px solid #ccc;
  padding: 3px;
  width: 500px;
  display: block;
}